<%= turbo_stream_from task %>
<%= turbo_frame_tag dom_id(task) do %>
  <h1 class="my-5 block font-bold text-xl"><%= task.title %></h1>

  <p class="my-5">
    <% if task.feature_image.attached? %>
      <%= image_tag task.feature_image.variant(resize_to_limit: [100, 100]) %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Scheduled at:</strong>
    <%= l(task.scheduled_at, format: :long) unless task.scheduled_at.blank? %>
  </p>

  <p class="my-5">
    <strong class="block font-bold mb-1">Completed at:</strong>
    <%= l(task.completed_at, format: :long) unless task.completed_at.blank? %>
  </p>

  <%= link_to "Edit this task", edit_task_path(task), class: "rounded-lg py-3 px-5 bg-blue-400 inline-block font-bold text-white", data: { turbo_frame: "_top" } %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this task", task_path(task), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-800 text-white font-bold", form: { data: { turbo_confirm: 'Are you sure?', turbo_frame: "_top" } } %>
  </div>
  <hr class="mt-6">
<% end %>
