<%= turbo_stream_from project %>
<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </p>

  <p class="my-5">
    <% if project.feature_image.attached? %>
      <%= image_tag project.feature_image.variant(resize_to_limit: [100, 100]) %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Completed at:</strong>
    <%= project.completed_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this project", project, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this project", edit_project_path(project), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
